.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    
    border: 1px solid black;
}
.width__box{
    width: 95%;
    max-width: 1000px;
    margin: auto;
}
.logo{
    height: 100%;
}
.main__form{
    
}