<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <div class="app">
            <header>
                <div class="header width__box">
                    <div class="logo">
                        <a href="/">
                            <img src="/img/logoIt.png" alt="" class="logo" />
                        </a>
                    </div>
                    <div class="menu">
                        <ul class="nav menu__list">
                            <li class="nav-item menu__item">
                                <a class="nav-link" href="/">Việc Làm IT</a>
                            </li>
                            <li class="nav-item menu__item">
                                <a class="nav-link" href="/top-company"
                                    >Top Công Ty</a
                                >
                            </li>
                            <li class="nav-item menu__item">
                                <a class="nav-link" href="/register">Đăng Ký</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <main>
                <div class="">
                    <form method="POST" action="/login" class="main__form width__box">
                        <div class="form-group">
                            <label for="exampleInputUserName"
                                >Tên đăng nhập</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="exampleInputUserName"
                                name="username"
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mật khẩu</label>
                            <input
                                type="password"
                                class="form-control"
                                id="exampleInputPassword1"
                                name="password"
                            />
                        </div>
                        <div class="form-group form-check">
                            <input
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                                name="remember"
                            />
                            <label class="form-check-label" for="exampleCheck1"
                                >Ghi nhớ đăng nhập</label
                            >
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Đăng nhập
                        </button>
                    </form>
                </div>
            </main>
            <footer></footer>
        </div>

        <!-- Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
