<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/fonts/icon/css/all.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
    <div class="app">
        <header>
            <div class="header width_box">
                <div class="header__top">
                    <div class="logo">
                        <a href="/">
                            <img src="/img/logo.png" alt="" class="logo__img" />
                        </a>
                    </div>
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link menu__item" href="/">Home
                                        <span class="sr-only">(current)</span></a>
                                </li>
                                <% if(user){ %>     
                                    <% if(user.role === 2) {%>
                                        <li class="nav-item">
                                            <a class="nav-link menu__item" href="/candidate">Tìm kiếm ứng viên</a>
                                        </li>
                                    <% } %> 
                                <% } %> 
                                <li class="nav-item">
                                    <a class="nav-link menu__item" href="/job-list">Việc làm IT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu__item" href="/top-company">Top Công Ty</a>
                                </li>
                                <% if(!user){ %>
                                    <li class="nav-item">
                                        <a class="nav-link menu__item" href="/register">Đăng Ký</a>
                                    </li>
                                <% }else {%>  
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle menu__item" href="#" id="navbarDropdown"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Tài Khoản
                                        </a>
                                        <div class="dropdown-menu account" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/profile"><i class="fas fa-user-circle"></i> Chỉnh sửa thông tin</a>
                                            <% if(user.role === 2) {%>
                                                <a class="dropdown-item" href="/apply-candidate"><i class="fas fa-user-check"></i> Ứng viên</a>
                                                <a class="dropdown-item" href="/my-job"><i class="fas fa-briefcase"></i> Việc làm của tôi</a>
                                            <% }else{ %> 
                                                <a class="dropdown-item" href="/apply-job"><i class="fas fa-briefcase"></i> Việc làm của tôi</a>
                                            <% } %> 
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                                        </div>
                                    </li>
                                <% } %> 
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            
            <div class="main">
                
                <form method="POST" action="/login" class="main__form">
                    <img src="/img/avatar.png" class="avatar_img">
                    <div class="form-group">
                        <label for="exampleInputUserName">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="exampleInputUserName" name="username" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mật khẩu</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember" />
                        <label class="form-check-label" for="exampleCheck1">Ghi nhớ đăng nhập</label>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Đăng nhập
                    </button>
                </form>
            </div>
        </main>
        <footer>
            <div class="footer__top">
                <div class="footer__top__main width_box">
                    <div class="footer__top__group">
                        <h5 class="footer__top__group__content">
                            Việc làm IT theo Kỹ năng
                        </h5>
                        <a href="#" class="footer__top__group__link">Java</a>
                        <a href="#" class="footer__top__group__link">JavaScript</a>
                        <a href="#" class="footer__top__group__link">PHP</a>
                        <a href="#" class="footer__top__group__link">C#</a>
                        <a href="#" class="footer__top__group__link">Android</a>
                        <a href="#" class="footer__top__group__link">Xem tất cả</a>
                    </div>
                    <div class="footer__top__group">
                        <h5 class="footer__top__group__content">
                            Việc làm IT theo Cấp bậc
                        </h5>
                        <a href="#" class="footer__top__group__link">Tester</a>
                        <a href="#" class="footer__top__group__link">Senior</a>
                        <a href="#" class="footer__top__group__link">Junior</a>
                        <a href="#" class="footer__top__group__link">Fresher</a>
                        <a href="#" class="footer__top__group__link">Internship</a>
                        <a href="#" class="footer__top__group__link">Xem tất cả</a>
                    </div>
                    <div class="footer__top__group">
                        <h5 class="footer__top__group__content">
                            Việc làm IT theo Công ty
                        </h5>
                        <a href="#" class="footer__top__group__link">Company</a>
                        <a href="#" class="footer__top__group__link">Company</a>
                        <a href="#" class="footer__top__group__link">Company</a>
                        <a href="#" class="footer__top__group__link">Company</a>
                        <a href="#" class="footer__top__group__link">Company</a>
                        <a href="#" class="footer__top__group__link">Xem tất cả</a>
                    </div>
                    <div class="footer__top__group">
                        <h5 class="footer__top__group__content">
                            Việc làm IT theo Thành phố
                        </h5>
                        <a href="#" class="footer__top__group__link">Hà Nội</a>
                        <a href="#" class="footer__top__group__link">Hồ Chí Minh</a>
                        <a href="#" class="footer__top__group__link">Đà Nẵng</a>
                        <a href="#" class="footer__top__group__link">Xem tất cả</a>
                    </div>
                </div>
            </div>
            <div class="footer__bot">
                <div class="footer__bot__main width_box">
                    <div class="footer__bot__group">
                        <a href="#" class="footer__bot__item">Trang chủ</a>
                        <a href="#" class="footer__bot__item">Việc làm IT</a>
                        <a href="#" class="footer__bot__item">Top Company</a>
                        <a href="#" class="footer__bot__item">Liên hệ</a>
                    </div>
                    <div class="footer__bot__group">
                        <a href="#" class="footer__bot__item">Quy định bảo mật</a>
                        <a href="#" class="footer__bot__item">Thỏa thuận sử dụng</a>
                        <a href="#" class="footer__bot__item">Chính sách giải quyết khiếu nại</a>
                        <a href="#" class="footer__bot__item">Quy chế hoạt động</a>
                        <a href="#" class="footer__bot__item">Câu hỏi thường gặp</a>
                    </div>
                    <div class="footer__bot__group">
                        <p href="#" class="footer__bot__item">
                            Copy © TJob
                        </p>
                        <p href="#" class="footer__bot__item">
                            Điện thoại: 0123456789
                        </p>
                        <p href="#" class="footer__bot__item">
                            Email: ntJob@gmail.com
                        </p>
                        <p href="#" class="footer__bot__item">
                            Địa chỉ: G2, 144-Xuân Thủy, Cầu Giấy, Hà Nội
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>